<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Summary</h3>
    		<p>
          I have 6 years of experience as a Software Engineer and Software Architect in the UK, and have worked for both a small startup and a large organization. My work involved using a variety of languages and technologies, including Java, C++, C#, REST, SQL, Docker and more. This experience has helped me develop not only engineering skills, but also my teamwork, analytical thinking, problem-solving and leadership.
        </p>
        <p>
           It is always a great feeling of satisfaction when you use the software you built yourself to solve a problem you are facing.
           That is why I most enjoy building software that solves real customer problems with a solid business justification.
           I am currently looking for a job opportunity which allows me to both contribute to a collaborative environment, as well as learn new and exciting technologies at the same time.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Was the first developer on a model-based testing application called <a href="https://www.ca.com/gb/products/ca-agile-requirements-designer.html">Agile Requirements Designer (ARD)</a> that has currently grown into a massive business with many big customers and a large development team (of which I was the lead developer).
    			</li>
          <li>
            Worked on <a href="https://www.ca.com/us/products/test-design-automation.html">algorithms</a> to optimize the number of paths through a model given some pre-defined goals, as well as to auto-generate test automation scripts in any language or framework from the same model.
          </li>
          <li>
              Led the architecture, design and implementation of converting the same ARD application from a C++ desktop program into a set of RESTful APIs based in Java Spring Boot.
          </li>
          <li>
              Wrote an <a href="https://www.youtube.com/watch?v=ljK_nuiZZBg">Entity Relationship Diagramming tool</a> in C#.
            </li>
          <li>
              Presented the benefits of model-based testing in general (and ARD specifically) to customers, including at the <a href="https://www.ca.com/en/blog-highlight/top-7-reasons-need-ca-world-2017.html">CA World</a> conference.
          </li>
    			<li>
            Created a basic plugin platform for a C++ <a href="https://www.qt.io/">Qt</a> application, as part of the Dissertation for an Oxford University degree.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
