<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3 style="margin-top:0">Software</h3>
				<ul>
					<li>
						<a href="https://www.qt.io/">Qt</a>. This C++ desktop and embedded framework simply amazed me with how complete and easy to learn it is. I use it often for hobby projects.
					</li>
					<li>
						<b>Docker, Kubernetes and AWS</b>. My brief work experience with these technologies (as part of a dual SaaS and on-premise deployment of a set of REST services) has made me very interested in expanding my knowledge in them.
					</li>
					<li>
						<b>Machine learning</b>. I've never had the chance to work with machine learning professionally, but it is a very exciting and growing field, so I have done some basic home learning from videos and articles.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Other things</h3>
				<ul>
					<li>
						<b>Japan</b>. I have a strong passion for the Japanese language and culture, and would very much like to explore career and life opportunities there in the near future.
					</li>
					<li>
						<b>Tennis</b>. Even if I do not play as much now as I used to when I was a member of the Oxford University Lawn Tennis Club, I do still very much enjoy playing and watching this sport.
					</li>
					<li>
						<b>Esports</b>. I enjoy watching other people play video games...
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
	