<section id="projects">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>Projects</h2>
              <hr />
            </div>
          </div>
          <div class="row">
              <p>Most of the work I have done is on a private GitHub Enterprise instance and not on the public GitHub, and so I cannot share it with the world.
                  However, below is a screenshot of my GitHub profile on that GitHub Enterprise instance.
                  If interested, <a href="https://github.com/austalakov">this</a> is my public GitHub page, but it is fairly empty at the moment.
              </p>
              <img class="img-centered" src="img/contributions.png" alt="Contributions">
          </div>
        </div>
      </section>
      